/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --name-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --background-color: #353430;
  --main-text: #F1B2CE;
  --background-photo: url("../images/cover-image-light.png");
  --button-color: #353430;
  --heading-color: #353430;
  --main-text-color: #353430;
  --main-text-color: #353430;
  --button-border-color: rgb(53, 52, 48, 0.4);
  --background-photo-color: #fff1f7;
}

.theme-light .page {
  .decorated-element {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --name-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --background-color: #353430;
    --main-text: #F1B2CE;
    --background-photo: url("../images/cover-image-light.png");
    --button-color: #353430;
    --heading-color: #353430;
    --main-text-color: #353430;
    --main-text-color: #353430;
    --button-border-color: rgb(53, 52, 48, 0.4);
    --background-photo-color: #fff1f7;
  }
  
  .decorated-element {
    display: none;
  }
}
