/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --name-color: #DB00FF;
  --accent-color: #FF0070;
  --background-color: #000028;
  --background-photo: url("../images/cover-image-dark.png");
  --button-color: #FF0070;
  --heading-color: #FF0070;
  --main-text-color: #F1B2CE;
  --button-border-color: rgb(255, 0, 112, 0.4);
}
